.search_bar{
    background-color: red;
    display: flex;
    padding: 5px;
    background-color: rgb(14, 14, 41);
    border-radius: 20px;
    gap: 20px;
}

.search_bar > input, .search_bar > select{
    padding: 10px;
    background-color: rgb(14, 14, 41);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
}

#search_input{
    min-width: 200px;
    width: 500px;
    transition: 1s;
}

.search_button{
    width: 40px;
    background-color: transparent;
    outline: none;
}

#svg {
    fill: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px 5px 0px 0px;
}

.banner img{
    height: 250px;
    margin-top: 10px;
}

.box{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    #search_input{
        width: 400px;
    }

    .search_bar > input, .search_bar > select{
        padding: 10px;
        font-size: 14px;
    }
  }
  
  @media screen and (max-width: 700px) {
    #search_input{
        width: 300px;
    }

    .search_bar > input, .search_bar > select{
        padding: 10px;
        font-size: 14px;
    }
  }

  @media screen and (max-width: 570px) {
    #search_input{
        width: 200px;
    }

    .search_bar > input, .search_bar > select{
        padding: 10px;
        font-size: 14px;
    }
  }
